<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nopossiblebus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TranslucentTheme">


        <activity android:name=".activies.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activies.identify.IdentifyActivity"/>
        <activity android:name=".activies.togoodapply.TogoodApplyActivity"/>
        <activity android:name=".activies.gooddetail.GooddetailActivity"/>
        <activity android:name=".activies.confirorder.ConfirorderActivity"/>
        <activity android:name=".activies.onekeysaveorder.OnekeysaveorderActivity"/>
        <activity android:name=".activies.togoodapplydetail.TogoodapplydetailActivity"/>
        <activity android:name=".activies.personalcenter.PersonalcenterActivity"/>
        <activity android:name=".activies.personalcenter.setworktime.SetworktimeActivity"/>
        <activity android:name=".activies.personalcenter.personal.PersonalActivity"/>
        <activity android:name=".activies.personalcenter.mywallet.MywalletActivity"/>
        <activity android:name=".activies.personalcenter.mysetting.MysettingActivity"/>
        <activity android:name=".activies.personalcenter.mymessage.MymessageActivity"/>
        <activity android:name=".activies.personalcenter.mykucun.MykucunActivity"/>
        <activity android:name=".activies.personalcenter.myintegral.MyintegralActivity"/>
        <activity android:name=".activies.personalcenter.changepass.ChangepassActivity"/>
        <activity android:name=".activies.personalcenter.changeaccount.ChangeaccountActivity"/>
    </application>

</manifest>